/* /!\ You need to add vendor prefixes in order to render the CSS properly (or simply use http://leaverou.github.io/prefixfree/) /!\ */
#bg {
  perspective: 800px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #3e1897;
  font-size: 62.5%; }

.scene {
  transform: rotateX(-39deg) rotateY(-137deg); }

.face {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1); }

.scene, .shape, .face, .face-wrapper, .cr {
  position: absolute;
  transform-style: preserve-3d; }

.scene {
  width: 80em;
  height: 80em;
  top: 50%;
  left: 50%;
  margin: -40em 0 0 -40em; }

.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-origin: 50%; }

.face, .face-wrapper {
  overflow: hidden;
  transform-origin: 0 0;
  backface-visibility: hidden;
  /* hidden by default, prevent blinking and other weird rendering glitchs */ }

.face {
  background-size: 100% 100% !important;
  background-position: center; }

.face-wrapper .face {
  left: 100%;
  width: 100%;
  height: 100%; }

.photon-shader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.side {
  left: 50%; }

.cr {
  height: 100%; }
  .cr .side {
    height: 100%; }

[class*="cuboid"] .ft {
  width: 100%;
  height: 100%; }
[class*="cuboid"] .bk {
  width: 100%;
  height: 100%;
  left: 100%; }
[class*="cuboid"] .rt {
  transform: rotateY(-90deg) translateX(-50%); }
[class*="cuboid"] .lt {
  transform: rotateY(90deg) translateX(-50%); }
[class*="cuboid"] .tp {
  transform: rotateX(90deg) translateY(-50%); }
[class*="cuboid"] .bm {
  transform: rotateX(-90deg) translateY(-50%); }
[class*="cuboid"] .lt {
  left: 100%; }
[class*="cuboid"] .bm {
  top: 100%; }

/* .cub-2 styles */
.tower-side {
  transform: translate3D(7em, -7em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 6em;
  height: 14em;
  margin: -7em 0 0 -3em; }
  .tower-side .face {
    background-color: #FFFFFF; }
  .tower-side .ft {
    transform: translateZ(3em); }
  .tower-side .bk {
    transform: translateZ(-3em) rotateY(180deg);
    background: linear-gradient(to left, #5d44a9 0%, #5d44a9 52%, #9961ed 53%, #9961ed 100%); }
  .tower-side .rt, .tower-side .lt {
    width: 6em;
    height: 14em; }
  .tower-side .tp, .tower-side .bm {
    width: 6em;
    height: 6em; }
  .tower-side .tp {
    background-image: linear-gradient(315deg, #5838c8, #8258cf); }

/* .cub-3 styles */
.door {
  transform: translate3D(0em, -3em, -4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 6em;
  height: 6em;
  margin: -3em 0 0 -3em; }
  .door .ft {
    transform: translateZ(0.5em); }
  .door .bk {
    transform: translateZ(-0.5em) rotateY(180deg);
    background-color: #f951ff;
    box-shadow: inset -6px -7px 0px 5px #fca4ff; }
  .door .rt, .door .lt {
    width: 1em;
    height: 6em; }
  .door .tp, .door .bm {
    width: 6em;
    height: 1em; }

.window-1 .bk,
.window-2 .bk,
.window-3 .bk,
.window-4 .bk {
  background-color: #f951ff; }

.window-5 .bk,
.window-6 .bk,
.window-7 .bk,
.window-8 .bk {
  background-color: #ed49ff; }

.window-9 .bk,
.window-10 .bk,
.window-11 .bk,
.window-12 .bk {
  background-color: #d239ff; }

.window-13 .bk,
.window-14 .bk,
.window-15 .bk,
.window-16 .bk {
  background-color: #ae2eff; }

.window-17 .bk,
.window-18 .bk,
.window-19 .bk,
.window-20 .bk {
  background-color: #9626ff; }

.window-21 .bk,
.window-22 .bk,
.window-23 .bk,
.window-24 .bk {
  background-color: #7e1fff; }

.window-25 .bk,
.window-26 .bk,
.window-27 .bk,
.window-28 .bk {
  background-color: #6f1aff; }

.window-3 {
  transform: translate3D(-1em, -8em, -4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .window-3 .ft {
    transform: translateZ(0.5em); }
  .window-3 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .window-3 .rt, .window-3 .lt, .window-3 .tp, .window-3 .bm {
    width: 1em;
    height: 1em; }

.window-2 {
  transform: translate3D(1em, -8em, -4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .window-2 .ft {
    transform: translateZ(0.5em); }
  .window-2 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .window-2 .rt, .window-2 .lt, .window-2 .tp, .window-2 .bm {
    width: 1em;
    height: 1em; }

.window-1 {
  transform: translate3D(3em, -8em, -4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .window-1 .ft {
    transform: translateZ(0.5em); }
  .window-1 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .window-1 .rt, .window-1 .lt, .window-1 .tp, .window-1 .bm {
    width: 1em;
    height: 1em; }

.window-4 {
  transform: translate3D(-3em, -8em, -4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .window-4 .ft {
    transform: translateZ(0.5em); }
  .window-4 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .window-4 .rt, .window-4 .lt, .window-4 .tp, .window-4 .bm {
    width: 1em;
    height: 1em; }

.window-5 {
  transform: translate3D(3.0625em, -10.0625em, -4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .window-5 .ft {
    transform: translateZ(0.5em); }
  .window-5 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .window-5 .rt, .window-5 .lt, .window-5 .tp, .window-5 .bm {
    width: 1em;
    height: 1em; }

/* .window-6 styles */
.window-6 {
  transform: translate3D(1em, -10em, -4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .window-6 .ft {
    transform: translateZ(0.5em); }
  .window-6 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .window-6 .rt, .window-6 .lt, .window-6 .tp, .window-6 .bm {
    width: 1em;
    height: 1em; }

.window-7 {
  transform: translate3D(-1em, -10em, -4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .window-7 .ft {
    transform: translateZ(0.5em); }
  .window-7 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .window-7 .rt, .window-7 .lt, .window-7 .tp, .window-7 .bm {
    width: 1em;
    height: 1em; }

/* .cub-1 styles */
.tower-main {
  transform: translate3D(0em, -11em, 0.1em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 9em;
  height: 22em;
  margin: -11em 0 0 -4.5em; }
  .tower-main .face {
    background-color: #FFFFFF; }
  .tower-main .ft {
    transform: translateZ(4.5em); }
  .tower-main .bk {
    transform: translateZ(-4.5em) rotateY(180deg);
    background-color: #a470f1;
    background-image: linear-gradient(to bottom, #a470f1, #6038e5); }
  .tower-main .lt {
    background-color: #3a20a6;
    background-image: linear-gradient(to bottom, #3a20a6, #281b86);
    width: 9em;
    height: 22em; }
  .tower-main .rt {
    height: 22em; }
  .tower-main .tp {
    background: #a16df1;
    width: 9em;
    height: 9em;
    background-image: linear-gradient(to right, #6b3ce6, #a16df1); }
  .tower-main .bm {
    width: 9em;
    height: 9em; }
  .tower-main .ft, .tower-main .bk {
    width: 9em;
    margin-left: 0em; }
  .tower-main .rt, .tower-main .lt {
    width: 9em; }
  .tower-main .tp, .tower-main .bm, .tower-main .tp .photon-shader, .tower-main .bm .photon-shader {
    border-radius: 0em; }
  .tower-main .cr {
    width: 0em;
    left: 0em; }
  .tower-main .cr-0 {
    transform: translate3D(9em, 0, 4.5em); }
  .tower-main .cr-1 {
    transform: translate3D(9em, 0, -4.5em); }
  .tower-main .cr-2 {
    transform: translate3D(0, 0, -4.5em); }
  .tower-main .cr-3 {
    transform: translate3D(0, 0, 4.5em); }
  .tower-main .cr-0 .s0 {
    transform: rotateY(15deg) translate3D(-50%, 0, -0.025em); }
  .tower-main .cr-0 .s1 {
    transform: rotateY(45deg) translate3D(-50%, 0, -0.025em); }
  .tower-main .cr-0 .s2 {
    transform: rotateY(75deg) translate3D(-50%, 0, -0.025em); }
  .tower-main .cr-1 .s0 {
    transform: rotateY(105deg) translate3D(-50%, 0, -0.025em); }
  .tower-main .cr-1 .s1 {
    transform: rotateY(135deg) translate3D(-50%, 0, -0.025em); }
  .tower-main .cr-1 .s2 {
    transform: rotateY(165deg) translate3D(-50%, 0, -0.025em); }
  .tower-main .cr-2 .s0 {
    transform: rotateY(195deg) translate3D(-50%, 0, -0.025em); }
  .tower-main .cr-2 .s1 {
    transform: rotateY(225deg) translate3D(-50%, 0, -0.025em); }
  .tower-main .cr-2 .s2 {
    transform: rotateY(255deg) translate3D(-50%, 0, -0.025em); }
  .tower-main .cr-3 .s0 {
    transform: rotateY(285deg) translate3D(-50%, 0, -0.025em); }
  .tower-main .cr-3 .s1 {
    transform: rotateY(315deg) translate3D(-50%, 0, -0.025em); }
  .tower-main .cr-3 .s2 {
    transform: rotateY(345deg) translate3D(-50%, 0, -0.025em); }
  .tower-main .side {
    width: 0.025em; }

.window-8 {
  transform: translate3D(-3em, -10em, -4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .window-8 .ft {
    transform: translateZ(0.5em); }
  .window-8 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .window-8 .rt, .window-8 .lt, .window-8 .tp, .window-8 .bm {
    width: 1em;
    height: 1em; }

.window-9 {
  transform: translate3D(3em, -12em, -4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .window-9 .ft {
    transform: translateZ(0.5em); }
  .window-9 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .window-9 .rt, .window-9 .lt, .window-9 .tp, .window-9 .bm {
    width: 1em;
    height: 1em; }

.window-10 {
  transform: translate3D(1em, -12em, -4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .window-10 .ft {
    transform: translateZ(0.5em); }
  .window-10 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .window-10 .rt, .window-10 .lt, .window-10 .tp, .window-10 .bm {
    width: 1em;
    height: 1em; }

.window-11 {
  transform: translate3D(-1em, -12em, -4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .window-11 .ft {
    transform: translateZ(0.5em); }
  .window-11 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .window-11 .rt, .window-11 .lt, .window-11 .tp, .window-11 .bm {
    width: 1em;
    height: 1em; }

.window-12 {
  transform: translate3D(-3em, -12em, -4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .window-12 .ft {
    transform: translateZ(0.5em); }
  .window-12 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .window-12 .rt, .window-12 .lt, .window-12 .tp, .window-12 .bm {
    width: 1em;
    height: 1em; }

.window-13 {
  transform: translate3D(3em, -14em, -4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .window-13 .ft {
    transform: translateZ(0.5em); }
  .window-13 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .window-13 .rt, .window-13 .lt, .window-13 .tp, .window-13 .bm {
    width: 1em;
    height: 1em; }

.window-14 {
  transform: translate3D(1em, -14em, -4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .window-14 .ft {
    transform: translateZ(0.5em); }
  .window-14 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .window-14 .rt, .window-14 .lt, .window-14 .tp, .window-14 .bm {
    width: 1em;
    height: 1em; }

.window-15 {
  transform: translate3D(-1em, -14em, -4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .window-15 .ft {
    transform: translateZ(0.5em); }
  .window-15 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .window-15 .rt, .window-15 .lt, .window-15 .tp, .window-15 .bm {
    width: 1em;
    height: 1em; }

.window-16 {
  transform: translate3D(-3em, -14em, -4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .window-16 .ft {
    transform: translateZ(0.5em); }
  .window-16 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .window-16 .rt, .window-16 .lt, .window-16 .tp, .window-16 .bm {
    width: 1em;
    height: 1em; }

.window-17 {
  transform: translate3D(3em, -16em, -4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .window-17 .ft {
    transform: translateZ(0.5em); }
  .window-17 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .window-17 .rt, .window-17 .lt, .window-17 .tp, .window-17 .bm {
    width: 1em;
    height: 1em; }

.window-18 {
  transform: translate3D(1em, -16em, -4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .window-18 .ft {
    transform: translateZ(0.5em); }
  .window-18 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .window-18 .rt, .window-18 .lt, .window-18 .tp, .window-18 .bm {
    width: 1em;
    height: 1em; }

.window-19 {
  transform: translate3D(-1em, -16em, -4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .window-19 .ft {
    transform: translateZ(0.5em); }
  .window-19 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .window-19 .rt, .window-19 .lt, .window-19 .tp, .window-19 .bm {
    width: 1em;
    height: 1em; }

.window-20 {
  transform: translate3D(-3em, -16em, -4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .window-20 .ft {
    transform: translateZ(0.5em); }
  .window-20 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .window-20 .rt, .window-20 .lt, .window-20 .tp, .window-20 .bm {
    width: 1em;
    height: 1em; }

.window-21 {
  transform: translate3D(3em, -18em, -4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .window-21 .ft {
    transform: translateZ(0.5em); }
  .window-21 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .window-21 .rt, .window-21 .lt, .window-21 .tp, .window-21 .bm {
    width: 1em;
    height: 1em; }

.window-22 {
  transform: translate3D(1em, -18em, -4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .window-22 .ft {
    transform: translateZ(0.5em); }
  .window-22 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .window-22 .rt, .window-22 .lt, .window-22 .tp, .window-22 .bm {
    width: 1em;
    height: 1em; }

.window-23 {
  transform: translate3D(-1em, -18em, -4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .window-23 .ft {
    transform: translateZ(0.5em); }
  .window-23 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .window-23 .rt, .window-23 .lt, .window-23 .tp, .window-23 .bm {
    width: 1em;
    height: 1em; }

.window-24 {
  transform: translate3D(-3em, -18em, -4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .window-24 .ft {
    transform: translateZ(0.5em); }
  .window-24 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .window-24 .rt, .window-24 .lt, .window-24 .tp, .window-24 .bm {
    width: 1em;
    height: 1em; }

.window-25 {
  transform: translate3D(3em, -20em, -4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .window-25 .ft {
    transform: translateZ(0.5em); }
  .window-25 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .window-25 .rt, .window-25 .lt, .window-25 .tp, .window-25 .bm {
    width: 1em;
    height: 1em; }

.window-26 {
  transform: translate3D(1em, -20em, -4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .window-26 .ft {
    transform: translateZ(0.5em); }
  .window-26 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .window-26 .rt, .window-26 .lt, .window-26 .tp, .window-26 .bm {
    width: 1em;
    height: 1em; }

.window-27 {
  transform: translate3D(-1em, -20em, -4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .window-27 .ft {
    transform: translateZ(0.5em); }
  .window-27 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .window-27 .rt, .window-27 .lt, .window-27 .tp, .window-27 .bm {
    width: 1em;
    height: 1em; }

.window-28 {
  transform: translate3D(-3em, -20em, -4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .window-28 .ft {
    transform: translateZ(0.5em); }
  .window-28 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .window-28 .rt, .window-28 .lt, .window-28 .tp, .window-28 .bm {
    width: 1em;
    height: 1em; }

/* .corner-1 styles */
.corner-1 {
  transform: translate3D(8.5em, -2em, -1.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 3em;
  height: 1em;
  margin: -0.5em 0 0 -1.5em; }
  .corner-1 .ft {
    transform: translateZ(1.5em); }
  .corner-1 .bk {
    transform: translateZ(-1.5em) rotateY(180deg); }
  .corner-1 .rt, .corner-1 .lt {
    width: 3em;
    height: 1em; }
  .corner-1 .tp, .corner-1 .bm {
    width: 3em;
    height: 3em; }
  .corner-1 .face {
    background-color: #FFFFFF; }

/* .corner-2 styles */
.corner-2 {
  transform: translate3D(8.5em, -4em, -1.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 3em;
  height: 1em;
  margin: -0.5em 0 0 -1.5em; }
  .corner-2 .ft {
    transform: translateZ(1.5em); }
  .corner-2 .bk {
    transform: translateZ(-1.5em) rotateY(180deg); }
  .corner-2 .rt, .corner-2 .lt {
    width: 3em;
    height: 1em; }
  .corner-2 .tp, .corner-2 .bm {
    width: 3em;
    height: 3em; }
  .corner-2 .face {
    background-color: #FFFFFF; }

/* .corner-3 styles */
.corner-3 {
  transform: translate3D(8.5em, -6em, -1.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 3em;
  height: 1em;
  margin: -0.5em 0 0 -1.5em; }
  .corner-3 .ft {
    transform: translateZ(1.5em); }
  .corner-3 .bk {
    transform: translateZ(-1.5em) rotateY(180deg); }
  .corner-3 .rt, .corner-3 .lt {
    width: 3em;
    height: 1em; }
  .corner-3 .tp, .corner-3 .bm {
    width: 3em;
    height: 3em; }
  .corner-3 .face {
    background-color: #FFFFFF; }

/* .corner-4 styles */
.corner-4 {
  transform: translate3D(8.5em, -8em, -1.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 3em;
  height: 1em;
  margin: -0.5em 0 0 -1.5em; }
  .corner-4 .ft {
    transform: translateZ(1.5em); }
  .corner-4 .bk {
    transform: translateZ(-1.5em) rotateY(180deg); }
  .corner-4 .rt, .corner-4 .lt {
    width: 3em;
    height: 1em; }
  .corner-4 .tp, .corner-4 .bm {
    width: 3em;
    height: 3em; }
  .corner-4 .face {
    background-color: #FFFFFF; }

/* .corner-5 styles */
.corner-5 {
  transform: translate3D(8.5em, -10em, -1.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 3em;
  height: 1em;
  margin: -0.5em 0 0 -1.5em; }
  .corner-5 .ft {
    transform: translateZ(1.5em); }
  .corner-5 .bk {
    transform: translateZ(-1.5em) rotateY(180deg); }
  .corner-5 .rt, .corner-5 .lt {
    width: 3em;
    height: 1em; }
  .corner-5 .tp, .corner-5 .bm {
    width: 3em;
    height: 3em; }
  .corner-5 .face {
    background-color: #FFFFFF; }

/* .corner-6 styles */
.corner-6 {
  transform: translate3D(8.5em, -12em, -1.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 3em;
  height: 1em;
  margin: -0.5em 0 0 -1.5em; }
  .corner-6 .ft {
    transform: translateZ(1.5em); }
  .corner-6 .bk {
    transform: translateZ(-1.5em) rotateY(180deg); }
  .corner-6 .rt, .corner-6 .lt {
    width: 3em;
    height: 1em; }
  .corner-6 .tp, .corner-6 .bm {
    width: 3em;
    height: 3em; }
  .corner-6 .face {
    background-color: #FFFFFF; }

/* .side-window-1 styles */
.side-window-1 {
  transform: translate3D(9.5em, -2em, 1.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .side-window-1 .ft {
    transform: translateZ(0.5em); }
  .side-window-1 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .side-window-1 .rt, .side-window-1 .lt, .side-window-1 .tp, .side-window-1 .bm {
    width: 1em;
    height: 1em; }
  .side-window-1 .face {
    background-color: #FFFFFF; }

/* .side-window-2 styles */
.side-window-2 {
  transform: translate3D(9.5em, -4em, 1.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .side-window-2 .ft {
    transform: translateZ(0.5em); }
  .side-window-2 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .side-window-2 .rt, .side-window-2 .lt, .side-window-2 .tp, .side-window-2 .bm {
    width: 1em;
    height: 1em; }
  .side-window-2 .face {
    background-color: #FFFFFF; }

/* .side-window-3 styles */
.side-window-3 {
  transform: translate3D(9.5em, -6em, 1.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .side-window-3 .ft {
    transform: translateZ(0.5em); }
  .side-window-3 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .side-window-3 .rt, .side-window-3 .lt, .side-window-3 .tp, .side-window-3 .bm {
    width: 1em;
    height: 1em; }
  .side-window-3 .face {
    background-color: #FFFFFF; }

/* .side-window-4 styles */
.side-window-4 {
  transform: translate3D(9.5em, -8em, 1.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .side-window-4 .ft {
    transform: translateZ(0.5em); }
  .side-window-4 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .side-window-4 .rt, .side-window-4 .lt, .side-window-4 .tp, .side-window-4 .bm {
    width: 1em;
    height: 1em; }
  .side-window-4 .face {
    background-color: #FFFFFF; }

/* .side-window-5 styles */
.side-window-5 {
  transform: translate3D(9.5em, -10em, 1.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .side-window-5 .ft {
    transform: translateZ(0.5em); }
  .side-window-5 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .side-window-5 .rt, .side-window-5 .lt, .side-window-5 .tp, .side-window-5 .bm {
    width: 1em;
    height: 1em; }
  .side-window-5 .face {
    background-color: #FFFFFF; }

/* .side-window-6 styles */
.side-window-6 {
  transform: translate3D(9.5em, -12em, 1.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em; }
  .side-window-6 .ft {
    transform: translateZ(0.5em); }
  .side-window-6 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .side-window-6 .rt, .side-window-6 .lt, .side-window-6 .tp, .side-window-6 .bm {
    width: 1em;
    height: 1em; }
  .side-window-6 .face {
    background-color: #FFFFFF; }

/* .floor-1 styles */
.floor-1 {
  transform: translate3D(3em, 0.5em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 31em;
  height: 1em;
  margin: -0.5em 0 0 -15.5em; }
  .floor-1 .face {
    background-color: #FFFFFF; }
  .floor-1 .ft {
    transform: translateZ(12em); }
  .floor-1 .bk {
    transform: translateZ(-12em) rotateY(180deg); }
  .floor-1 .rt, .floor-1 .lt {
    width: 24em;
    height: 1em; }
  .floor-1 .tp, .floor-1 .bm {
    width: 31em;
    height: 24em; }
  .floor-1 .tp {
    background: linear-gradient(to bottom, #5831e3, #b386f4); }

/* .roof styles */
.roof {
  transform: translate3D(0em, -21.5em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 6em;
  height: 1em;
  margin: -0.5em 0 0 -3em; }
  .roof .ft {
    transform: translateZ(3em); }
  .roof .bk {
    transform: translateZ(-3em) rotateY(180deg); }
  .roof .rt, .roof .lt {
    width: 6em;
    height: 1em; }
  .roof .tp {
    width: 6em;
    height: 6em;
    background: #4a2cc0;
    background-image: linear-gradient(to right, #4a2cc0, #3a22a7);
    box-shadow: inset 7px -2px 10px 8px #3920a4; }
  .roof .tp, .roof .bm {
    width: 6em;
    height: 6em; }
  .roof .face {
    background-color: #FFFFFF; }

/*# sourceMappingURL=main.css.map */
