@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300");

$gem: #36159A;

$cornerBackColors: (
  1: #F956FF,
  2: #F951FF,
  3: #E040FF,
  4: #8E23FF,
  5: #6F1AFF,
  6: #6F1AFF
);
$cornerSideColors: (
  1: #F455FF,
  2: #DD3DFF,
  3: #C234FF,
  4: #A429FF,
  5: #8721FF,
  6: #741CFF
);
$mainWindowColors: (
  1: #F951FF,
  2: #ED49FF,
  3: #D239FF,
  4: #AE2EFF,
  5: #9626FF,
  6: #7E1FFF,
  7: #6F1AFF
);

html {
  font-family: "Roboto Mono";
  font-size: 10px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #3E1897;
  background: radial-gradient(circle at 45% 45%, #892CDC, $gem 45%);
}

.face {
  overflow: hidden;
  transform-origin: 0 0;
  background-position: center;
  background-size: 100% 100% !important;
  // box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);

  backface-visibility: hidden;
}

.scene, .shape, .face {
  position: absolute;

  transform-style: preserve-3d;
}

.scene {
  top: 50%;
  left: 50%;
  width: 80em;
  height: 80em;
  margin: -40em 0 0 -40em;
  transform: rotateX(-33deg) rotateY(-137deg);
}

.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-origin: 50%;
  .ft {
    width: 100%;
    height: 100%;
  }
  .bk {
    left: 100%;
    width: 100%;
    height: 100%;
  }
  .rt {
    transform: rotateY(-90deg) translateX(-50%);
  }
  .lt {
    transform: rotateY(90deg) translateX(-50%);
  }
  .tp {
    transform: rotateX(90deg) translateY(-50%);
  }
  .bm {
    transform: rotateX(-90deg) translateY(-50%);
  }
  .lt {
    left: 100%;
  }
  .bm {
    top: 100%;
  }
}

.tower-main {
  width: 9em;
  height: 22em;
  margin: -11em 0 0 -4.5em;
  transform: translate3D(0em, -11em, 0.1em) rotateX(0deg) rotateY(0deg)
  rotateZ(0deg);
  opacity: 1;
  .shadow-ft {
    width: 100%;
    height: 14em;
    transform: translateZ(-6em) translateY(15em) rotateX(90deg);
    opacity: 0.5;
    background: linear-gradient(to top, #F951FD, rgba(249, 81, 253, 0));
  }
  .shadow-lt {
    width: 5em;
    height: 3em;
    transform: translateZ(-2em) translateX(7em) translateY(6em) rotateX(90deg)
    rotateZ(-64deg);
    opacity: 0.5;
    background: #4E35A0;
  }
  > .ft, > .bk {
    width: 9em;
    margin-left: 0;
  }
  .ft {
    transform: translateZ(4.5em);
  }
  > .bk {
    transform: translateZ(-4.5em) rotateY(180deg);
    background-color: #A470F1;
    background-image: linear-gradient(to bottom, #A470F1, #6038E5);
  }
  .rt {
    width: 9em;
  }
  .lt {
    width: 9em;
    width: 9em;
    height: 22em;
    background-image: linear-gradient(to bottom, #3A20A6, #281B86);
  }
  .rt {
    height: 22em;
  }
  .tp {
    width: 9em;
    height: 9em;
    background: #A16DF1;
    background-image: linear-gradient(-45deg, #6B3CE6, #A16DF1);
  }
}

.door {
  overflow: visible;
  width: 6em;
  height: 6em;
  margin: -3em 0 0 -3em;
  transform: translate3D(0em, -3em, -4em) rotateX(0deg) rotateY(0deg)
  rotateZ(0deg);
  opacity: 1;
  .bk {
    transform: translateZ(-0.5em) rotateY(180deg);
    background-color: #F951FF;
    box-shadow: inset -6px -7px 0 5px #FCA4FF;
  }
  .shadow {
    width: 6em;
    height: 6em;
    transform: translateZ(-7em) translateY(5.5em) translateX(0.5em)
    rotateX(90deg);
    opacity: 0.5;
    background: linear-gradient(to top, #F951FD, rgba(249, 81, 253, 0));
  }
  &:after {
    width: 6em;
    height: 1em;
    content: "";
    opacity: 0.5;
    background-color: #F953FF;
  }
}
[class*="window"] {
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em;
  opacity: 1;
  .bk {
    transform: translateZ(-0.5em) rotateY(180deg);
  }
  .lt {
    width: 1em;
    height: 1em;
  }
  &:not([class*="side"]) {
    $counterY: 3;
    $counterX: 3;
    $counterColors: 1;
    @for $i from 1 through 28 {
      &[class$="#{$i}"] {
        transform: translate3D(#{$counterX}em, #{$counterY}em, -4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        .bk {
          background: map-get($mainWindowColors, $counterColors);
        }
      }
      @if ($counterX > -3) {
        $counterX: $counterX - 2;
      } @else {
        $counterX: 3;
      }
      @if ($i % 4 == 0) {
        $counterY: $counterY - 2;
        $counterColors: $counterColors + 1;
      }
    }
  }
}

.tower-side {
  width: 6em;
  height: 14em;
  margin: -7em 0 0 -3em;
  transform: translate3D(7em, -7em, 0em) rotateX(0deg) rotateY(0deg)
  rotateZ(0deg);
  opacity: 1;
  .ft {
    transform: translateZ(3em);
  }
  > .bk {
    transform: translateZ(-3em) rotateY(180deg);
    background: linear-gradient(
    to left,
    #5D44A9 0%,
    #5D44A9 50%,
    #9961ED 55%,
    #9961ED 100%
    );
  }
  .lt {
    width: 6em;
    height: 14em;
    background: $gem;
  }
  .tp {
    width: 6em;
    height: 6em;
    background-image: linear-gradient(315deg, #5838C8, #8258CF);
  }
  .shadow-tp {
    width: 6em;
    height: 6em;
    transform: rotateZ(45deg) translateX(2em) translateY(-8em);
    background: #8652EB;
  }
}
[class*="corner-"] {
  width: 3em;
  height: 1em;
  margin: -0.5em 0 0 -1.5em;
  opacity: 1;
  .bk {
    transform: translateZ(-1.5em) rotateY(180deg);
    box-shadow: inset -1px -1px 0 1px #301E95;
  }
  .lt {
    width: 3em;
    height: 1em;
    box-shadow: inset 1px -1px 0 1px #2B1A89;
  }
  @for $i from 1 through 6 {
    $cornerY: 7 - (2 * $i);
    &[class$="#{$i}"] {
      transform: translate3D(1.5em, #{$cornerY}em, -1.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      .bk {
        background: map-get($cornerBackColors, $i);
      }
      .lt {
        background: map-get($cornerSideColors, $i);
      }
    }
  }
}

[class*="side-window"] {
  .lt {
    width: 1em;
    height: 1em;
  }
  @for $i from 1 through 6 {
    $sideY: 7 - (2 * $i);
    &[class$="#{$i}"] {
      transform: translate3D(2.5em, #{$sideY}em, 1.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      .lt {
        background: map-get($cornerSideColors, $i);
      }
    }
  }
}

.floor {
  width: 31em;
  height: 1.5em;
  margin: -0.5em 0 0 -15.5em;
  transform: translate3D(3em, 0.5em, 0em) rotateX(0deg) rotateY(0deg)
  rotateZ(0deg);
  opacity: 1;
  .ft {
    transform: translateZ(12em);
  }
  .bk {
    transform: translateZ(-12em) rotateY(180deg);
    background: radial-gradient(circle at center, #9D34E8, #7E29DC);
  }
  .rt {
    width: 24em;
    height: 1.5em;
  }
  .lt {
    width: 24em;
    height: 1.5em;
    background: linear-gradient(to top, #26128B, #531BC7);
  }
  .tp, .bm {
    width: 31em;
    height: 24em;
  }
  .tp {
    background: linear-gradient(to top, #5831E3 30%, #8B53EB 80%, #B386F4);
  }
  .shadow-lt {
    width: 10em;
    height: 100%;
    transform: rotateZ(-180deg) rotateY(-45deg) rotateX(-90deg)
    translateX(0.5em) translateZ(-6em) translateY(-5.5em);
    background: linear-gradient(to top, #3A21A7, rgba(58, 33, 167, 0));
  }
}

.roof {
  width: 6em;
  height: 1em;
  margin: -0.5em 0 0 -3em;
  transform: translate3D(0em, -21.5em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  .tp {
    width: 6em;
    height: 6em;
    background: #4A2CC0;
    background-image: linear-gradient(to top, #4A2CC0, #3920A4);
    box-shadow: inset 4px 0px 2px 5px #3920A4;
  }
}

.shameless-plug {
  font-size: 1.5em;
  line-height: 1.5em;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1em;
  color: #FFFFFF;
  a {
    font-style: italic;
    text-decoration: none;
    color: #FFFFFF;
  }
  .icon {
    fill: #FFFFFF;
  }
}
